*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-bar{
    display: flex;
    background-color: rgb(43, 152, 255);
    justify-content: space-between;
}

.nav-bar nav ul{
    margin-top: 15px;
    list-style-type: none;
    display: flex;

}
.nav-bar nav ul li{
    text-align: center;
    margin-left: 10px;
}
.nav-bar nav ul li a {
    margin-top: 0;
    margin-bottom: 0;
}
.nav-bar div img{
    width: 70px;
}
#btn-topo{
    margin: 15px 10px 0px 0px;
    text-align: center;
}

.espaco{
    height: 50px;
}
section{
    display: grid;
    grid-template-columns: 1fr 0.5fr 4fr 1fr;
    grid-template-areas: 'a b c d';

}



.esquerda{
    height: 100px;
    grid-area: a;
}
.div-botoes{
    display: flex;
    flex-direction: column;
    align-items: center;

}
#botao-login{
    margin-bottom: 10px;
    padding:10px 65px 10px 65px;

}
.direita{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    height: 500px;
    grid-area: c;
}
#card-tamanho{
    width: 350px;
    height: 300px;
}

#botao-cadastro{
    padding:10px 51px 10px 55px;
}
form div label{
    font-size: 20px;
}
label{
    margin-right: 10px;
}
.form-control-1{
    display: inline-block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }