* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body{
    background-color: rgb(0, 0, 0);
    transition: background 0.5s;
}

.alt-p{
    text-align: justify;

}


.tent-um{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    height: 250px;
    margin: 50px;
    border-radius: 25px;

}
header h1{
    display: inline-block;
    text-align: center;
}
.espaco{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    width: 100%;
}
.espaco-box{
    background-color: white;
    margin: 50px;
    padding: 100px 10px 0px 50px;
    border-radius: 10px;
    height: 250px;
    width: 500px;
}
#txt{
    width: 200px;
}
@media(max-width:800px){
    .espaco{
        flex-wrap: wrap;
        flex-direction: column;

    }
}
.btn{

    display:inline-block;
    margin-top: 10px;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid ;
    background-color: rgb(0, 0, 0);
    color: white;
    opacity: 0.8;
}
.btn:hover{
    opacity: 1;
}
footer{
    background-color: white;
}